@charset "UTF-8";
/* 共通設定 */
html body {
  height: 100%;
}

#wrap {
  display: grid;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  grid-template-columns: 15% 35% 1fr;
  grid-template-rows: auto;
  grid-template-areas: "container_left container_center container_right";
  background-color: #ffcdd2;
}

/* グリッド */
.container_left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container_left;
  background-color: #7fcac3;
  position: relative;
}

.container_center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container_center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 31% 23% 23% 23%;
  grid-template-areas: "top_lead top_lead" "character_1 flying_1" "flying_2 character_2" "character_3 flying_3";
  background-color: #ffcdd2;
}

.container_right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: container_right;
  background-color: #fdfdf5;
}

/* 共通バー */
/* トップロゴ */
.top_logo {
  position: relative;
}
.top_logo p {
  position: absolute;
  color: #7fcac3;
  font-weight: bold;
  font-size: 2.5rem;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.top_logo img {
  display: block;
  width: 80%;
  margin: 2em auto;
}

/* リンク */
.link {
  width: 80%;
  margin: 1em auto;
  padding-top: 2em;
}

.link_back {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

a.btn-border {
  display: block;
  padding: 1rem;
  border: 0.2em dashed #ffcdd2;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  text-align: center;
  color: #ffcdd2;
  font-weight: bold;
  font-size: 2em;
}

/* キャラクター画面  */
.top_lead {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top_lead;
  color: #7fcac3;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  font-size: 3em;
  margin: auto 2rem;
}

.character_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: character_1;
  padding-left: 2em;
  position: relative;
}

.character_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: character_2;
  padding-right: 2em;
  position: relative;
}

.character_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: character_3;
  padding-left: 2em;
  position: relative;
}

.character_img {
  width: 80%;
  display: block;
  position: absolute;
  top: 15%;
  z-index: 3;
}

.character_stage, .character_stage_shadow {
  width: 80%;
  min-height: 2em;
  border-radius: 50%;
  position: absolute;
  background-color: seashell;
  top: 75%;
  z-index: 2;
}

.character_stage_shadow {
  background-color: rgba(77, 72, 70, 0.842);
  top: 80%;
  z-index: 1;
}

.flying_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: flying_1;
  position: relative;
}

.flying_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: flying_2;
  position: relative;
}

.flying_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: flying_3;
  position: relative;
}

/* 回転アニメーション */
@keyframes rotate_food {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flying_animation {
  width: 15%;
  animation: rotate_food 2s infinite;
  position: absolute;
  top: 4em;
  left: 5em;
}

/* 投稿画面 */
.user_msg {
  position: relative;
  display: flex;
  padding: 1.5em 3em;
}

.msg {
  width: 90%;
  height: auto;
}

.action_contents {
  width: 3%;
  min-width: 1.8em;
  margin-left: 1em;
}
.action_contents img {
  padding: 0.1em;
}

.my_msg {
  overflow: hidden;
  width: 100%;
}
.my_msg .msg {
  width: 100%;
  min-height: 3em;
  text-align: center;
}
.my_msg .says::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  border: 8px solid transparent;
  border-right: 18px solid #f5f1a6;
  transform: rotate(35deg);
  left: -19px;
}

.says {
  display: inline-block;
  position: relative;
  margin: auto 0;
  padding: 1em;
  width: 95%;
  height: auto;
  min-width: 90%;
  min-height: 3em;
  border-radius: 12px;
  background: #f5f1a6;
}
.says p {
  margin: 0;
  padding: 0.2em;
  font-size: 1.5em;
}

.says_center {
  font-weight: bold;
}

.other_msg .says::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  border: 8px solid transparent;
  border-right: 18px solid #f5f1a6;
  transform: rotate(140deg);
  right: -19px;
}
.other_msg .msg_icon {
  width: 10%;
  height: auto;
  max-width: 3em;
}
.other_msg .msg_icon img {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}
.other_msg .msg {
  min-height: 3em;
  padding-left: 2em;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */