
#wrap {
  display: grid;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "container_left container_right";
  background-color: $mainColorPink;
  overflow: auto;
}

/* グリッド */
.container_left {
  grid-area: container_left;
  background-color: $mainColorBlue;
  position: relative;
}

.container_right {
  grid-area: container_right;
  display: grid;
  grid-template-rows: 15% 60% 10% 15%;
  grid-template-areas:
    "top_index_area"
    "chara_area"
    "level_area"
    "submit_area" ;
}

/*  thanksフォーム  */

.thanks {
  grid-area: top_index_area;
  width: 100%;
  height: auto;

  img {
    display: block;
    width: 30%;
    margin: 0 auto;
  }
}

.chara_area {
  grid-area: chara_area;
  position: relative;
}

.view_characters {
  position: absolute;
  top: 20%;
  width: 100%;
  height: auto;
  padding: 2em;
  margin: auto;

  img {
    display: block;
    position: relative;
    width: 70%;
    max-width: 30em;
    height: auto;
    margin: 0 auto;
    z-index: 3;
  }
}

.character_stage {
  width: 30%;
  margin: 0 auto;
  height: 8em;
  min-height: 2em;
  background-color: seashell;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 50%;
  @include transitionStage(-50%);
  z-index: 2;
}

.character_stage_shadow {
  @extend .character_stage;
  height: 7em;
  min-height: 1.5em;
  background-color: rgba(77, 72, 70, 0.842);
  bottom: -10%;
  z-index: 1;
}

.level {
  grid-area: level_area;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2em;
  line-height: 4em;
}

.start {
  grid-area: submit_area;
  width: 100%;
  text-align: center;
  padding: 2em;

  input {
    display: block;
    border: 1px solid transparent;
    border-radius: 10%;
    padding: 0.5em;
    margin: auto;
    width: 30%;
    max-height: 7em;
    font-size: 3em;
    background: $mainColorBlue;
    color: #ffffff;
  }
}