@charset "UTF-8";
/* 共通設定 */
html body {
  height: 100%;
}

#wrap {
  display: grid;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  grid-template-columns: 15% 35% 1fr;
  grid-template-rows: auto;
  grid-template-areas: "container_left container_center container_right";
  background-color: #ffcdd2;
}

/* グリッド */
.container_left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container_left;
  background-color: #7fcac3;
  position: relative;
}

.container_center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container_center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 31% 23% 23% 23%;
  grid-template-areas: "top_lead top_lead" "character_1 flying_1" "flying_2 character_2" "character_3 flying_3";
  background-color: #ffcdd2;
}

.container_right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: container_right;
  background-color: #fdfdf5;
}

/* 共通バー */
/* トップロゴ */
.top_logo {
  position: relative;
}
.top_logo p {
  position: absolute;
  color: #7fcac3;
  font-weight: bold;
  font-size: 2.5rem;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.top_logo img {
  display: block;
  width: 80%;
  margin: 2em auto;
}

/* リンク */
.link {
  width: 80%;
  margin: 1em auto;
  padding-top: 2em;
}

.link_back {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

a.btn-border {
  display: block;
  padding: 1rem;
  border: 0.2em dashed #ffcdd2;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  text-align: center;
  color: #ffcdd2;
  font-weight: bold;
  font-size: 2em;
}
