@charset "UTF-8";
/* 共通設定 */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+JP&family=Source+Code+Pro:wght@300&display=swap");
html body {
  height: 100%;
}

/* 共通バー */
/* トップロゴ */
.top_logo {
  position: relative;
}
.top_logo p {
  position: absolute;
  color: #6bc1e1;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.top_logo img {
  display: block;
  width: 80%;
  margin: 2em auto;
}

/* リンク */
.link {
  width: 80%;
  margin: 1em auto;
  padding-top: 2em;
}

.link_back {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  letter-spacing: 1em;
}

a.btn-border {
  display: block;
  padding: 1rem;
  border: 0.2em dashed #f6e5e4;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-decoration: none;
  text-align: center;
  color: #f6e5e4;
  font-size: 2em;
  font-family: "Indie Flower", cursive;
  letter-spacing: 0.2em;
}

/* 回転アニメーション */
@keyframes rotate_food {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flying_animation {
  width: 15%;
  animation: rotate_food 2s infinite;
  position: absolute;
  top: 4em;
  left: 5em;
}

#wrap {
  display: grid;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto;
  grid-template-areas: "container_left container_right";
  background-color: #fff5ee;
  overflow: auto;
}

/* グリッド */
.container_left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container_left;
  background-color: #6bc1e1;
  position: relative;
}

.container_right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container_right;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas: "top_index_area top_index_area" "input_form_area choose_chara_area" "submit_area submit_area";
  font-family: "Indie Flower", cursive, "Noto Sans JP", sans-serif;
}

/*  入力フォーム  */
.top_index {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top_index_area;
  font-size: 2.5em;
  padding: 2em;
}

.registration_form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input_form_area;
}

.form_group {
  width: 100%;
  height: auto;
  font-size: 2em;
  padding: 1em 1em 1em 3em;
}

.registration_form label {
  display: inline-block;
  width: 5em;
}

.select_character {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: choose_chara_area;
}

.choose_index {
  font-size: 2em;
  padding: 1em 1em 2em 2em;
}

.view_characters {
  position: relative;
  width: 100%;
  height: auto;
}
.view_characters img {
  display: block;
  position: relative;
  width: 60%;
  max-width: 22em;
  margin: 0 auto;
  z-index: 3;
}

.character_stage, .character_stage_shadow {
  width: 60%;
  height: 8em;
  min-height: 2em;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ffffff;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  z-index: 2;
}

.character_stage_shadow {
  height: 7em;
  min-height: 1.5em;
  background-color: rgba(77, 72, 70, 0.842);
  bottom: -10%;
  z-index: 1;
}

.view_characters .go, .view_characters .radio, .view_characters .back {
  display: block;
  position: absolute;
  bottom: -30%;
  right: 30%;
  transform: translate(-30%);
  -ms-transform: translate(-30%);
  -webkit-transform: translate(-30%);
}
.view_characters .back {
  left: 30%;
}
.view_characters .radio {
  bottom: -40%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.character_name {
  width: 100%;
  padding-top: 4em;
}

.regist_submit {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit_area;
  width: 100%;
  text-align: center;
}
.regist_submit input {
  width: 30%;
  max-height: 7em;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.5em;
  font-family: "Indie Flower", cursive, "Noto Sans JP", sans-serif;
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 0.5em;
  margin: auto;
  display: block;
  background: #6bc1e1;
  color: #ffffff;
}

.error {
  font-size: 90%;
  color: #BB1850;
}
/*# sourceMappingURL=style_join.css.map */